<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="Angular Logo"
    src="/assets/images/ICONE-PREVISÃO DO TEMPO.png"
  />

  <a [routerLink]="['/principal']" queryParamsHandling="preserve" style="color: white; margin-right: 15px;">Menu Principal</a>
  <a [routerLink]="['/previsao/tempo']" queryParamsHandling="preserve" style="color: white; margin-right: 15px;">Previsão do Tempo</a>
  <a [routerLink]="['/previsao/listagem']" queryParamsHandling="preserve" style="color: white; margin-right: 15px;">Histórico de previsões</a>
  <a *ngIf="this.tipoPerfilEhAdmin" [routerLink]="['/usuario/listagem']" queryParamsHandling="preserve" style="color: white; margin-right: 15px;">Usuários</a>

    <div class="spacer"></div>

  <a [routerLink]="[]" queryParamsHandling="preserve" style="color: white; margin-right: 15px; font-size: 14px; "(click)="this.logout()">Logout</a>
  <a [routerLink]="[]" queryParamsHandling="preserve" style="color: white; margin-right: 15px; font-size: 14px; "(click)="this.editarPerfilUsuario()">Editar perfil</a>
</div>

<div style="margin-top: 100px;">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
