html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 400px;
  margin: auto;
  margin-top: calc(20vh - 200px);
}

.background-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/assets/images/wallpaper-previsão do tempo.jpg');
  background-size: cover;
  background-position: center;
}
