
<div class="container">
  <h2 class="centralizarTitulo">Previsão do Tempo</h2>
  <form [formGroup]="this.formulario" (ngSubmit)="this.submeterForm()" novalidate [ngClass]="{'submitted': this.formSubmetido}">
    <div class="row">
      <div class="form-group col-sm-12 col-md-12 col-lg-6">
        <label class="form-control-label label-obrigatorio">Nome da cidade</label>
        <input type="text" class="form-control" placeholder="Preencha uma cidade" formControlName="nomeCidade">
        <validator [formSubmitted]="this.formSubmetido" [errors]="this.formulario?.get('nomeCidade')?.errors"></validator>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-6 action-buttons">
        <button type="submit" class="btn btn-primary float-right">Buscar previsão</button>
      </div>
    </div>
  </form>

  <div class="row" *ngIf="this.buscaPrevisao != null">

    <!-- INIT - coluna 1 -->
    <div class="col-sm-12 col-md-6 col-lg-6 center">
      <div class="card cor-azul text-white text-center mb-4 pointer">
        <div class="card-body">
          <h5>Localidade</h5>
          <p>Cidade: {{ this.buscaPrevisao.cidade.infoCidade.cidade }}</p>
          <p>País: {{ this.buscaPrevisao.cidade.infoCidade.pais }}</p>
        </div>
      </div>

      <div class="card cor-azul text-white text-center mb-4 pointer">
        <div class="card-body">
          <h5>Descrição do Céu</h5>
          <p>{{ this.buscaPrevisao.previsaoTempo.descricao[0].descricaoCeu | primeiraLetraMaiuscula}}</p>
        </div>
      </div>

      <div class="card cor-azul text-white text-center mb-4 pointer">
        <h5 class="card-title">Sensação Térmica</h5>
        <p>Atual: {{ this.buscaPrevisao.previsaoTempo.tempo.sensacaoTermicaCelsius | duasCasasDecimais}}°C</p>
      </div>

      <div class="card cor-azul text-white text-center mb-4 pointer">
        <h5 class="card-title">Pressão</h5>
        <p>{{ this.buscaPrevisao.previsaoTempo.tempo.pressao }} hPa</p>
      </div>

      <div class="card cor-azul text-white text-center mb-4 pointer">
        <h5 class="card-title">Umidade</h5>
        <p>{{ this.buscaPrevisao.previsaoTempo.tempo.humidade }}%</p>
      </div>



      <div class="card cor-azul text-white text-center mb-4 pointer">
        <h5 class="card-title">Sol</h5>
        <p>Nascer do Sol: {{ this.buscaPrevisao.previsaoTempo.sol.nascerDoSol | dataFormatada }}</p>
        <p>Pôr do Sol: {{ this.buscaPrevisao.previsaoTempo.sol.porDoSol | dataFormatada}}</p>
      </div>

    </div>
    <!-- END - coluna 1 -->

    <!-- INIT - coluna 2 -->
    <div class="col-sm-12 col-md-6 col-lg-6 center">

      <div class="card cor-azul text-white text-center mb-4 pointer">
        <div class="card-body">
          <h5 class="card-title">Temperatura</h5>
          <p>Atual: {{ this.buscaPrevisao.previsaoTempo.tempo.temperaturaAtualCelsius | duasCasasDecimais}}°C</p>
          <p>Mínima: {{ this.buscaPrevisao.previsaoTempo.tempo.temperaturaMinimaCelsius | duasCasasDecimais}}°C</p>
          <p>Máxima: {{ this.buscaPrevisao.previsaoTempo.tempo.temperaturaMaximaCelsius | duasCasasDecimais}}°C</p>
        </div>
      </div>

      <div class="card cor-azul text-white text-center mb-4 pointer">
        <h5 class="card-title">Vento</h5>
        <p>Velocidade: {{ this.buscaPrevisao.previsaoTempo.vento.velocidadeKMH | duasCasasDecimais}} km/h</p>
          <p>Direção: {{ this.buscaPrevisao.previsaoTempo.vento.graus }}°</p>
      </div>

      <div class="card cor-azul text-white text-center mb-4 pointer">
        <h5 class="card-title">Nuvem</h5>
        <p>Quantidade: {{ this.buscaPrevisao.previsaoTempo.nuvem.quantidade }}%</p>
      </div>

      <div class="card cor-azul text-white text-center mb-4 pointer">
        <h5 class="card-title">Visibilidade</h5>
        <p>{{ this.buscaPrevisao.previsaoTempo.visibilidadeKm }} km</p>
      </div>

      <div class="card cor-azul text-white text-center mb-4 pointer">
        <h5 class="card-title">Data e Hora</h5>
        <p>{{ this.buscaPrevisao.previsaoTempo.dataHora | dataFormatada}}</p>
      </div>

      <div class="card cor-azul text-white text-center mb-4 pointer">
        <h5 class="card-title">Fuso Horário</h5>
        <p>{{ this.buscaPrevisao.previsaoTempo.fusoHorario / 3600 }} horas para o horário médio de Greenwich</p>
      </div>

    </div>
     <!-- END - coluna 2 -->

  </div>
</div>
